<div class="events-calendar">
  <div class="calendar-wrapper">
    <button (click)="view = CalendarView.Month">Mes</button>
    <button (click)="view = CalendarView.Week">Semana</button>
    <button (click)="view = CalendarView.Day">Día</button>

    <br /><br />

    <mwl-calendar-week-view
      *ngIf="view === CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEventClick($event.event)"
    ></mwl-calendar-week-view>

    <mwl-calendar-month-view
      *ngIf="view === CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      (dayClicked)="handleDayClick($event.day.date)"
    ></mwl-calendar-month-view>

    <mwl-calendar-day-view
      *ngIf="view === CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEventClick($event.event)"
    ></mwl-calendar-day-view>
  </div>
</div>
