@use 'tailwindcss';
@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
	margin: 0;
  padding: 1rem;
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	background: #f1f5f9;
	color: #0f172a;
}
